@import '../../../styles/color';
@import '../../../styles/common';

.dialog-layout {
  height: 100%;
  box-shadow: 0px 8px 8px  $text-shadow-color;

  &__header {
    background: $red-cherry;
    height: 15px;
  }

  &__content {
    background: $white;
    padding: 20px 40px;
  }
}
