@import '../../styles/color';
@import '../../styles/common';

.auth-header {
  display: flex;
  justify-content: space-between;
  gap: $spacing-xl;

  &__logo {
    display: flex;
    flex-direction: column;
    margin-top: -18px;

    &__title {
      color: $main-black;
      text-transform: uppercase;
      text-shadow: 0px 4px 4px $text-shadow-color;
      font-size: $font-lm;
      font-weight: $font-weight-medium-bold;
    }
  }
}
