@import '../../../styles/color';
@import '../../../styles/common';

.navigation-panel {
  &__icon {
    fill: $grey-mid;

    &_selected {
      fill: $white;
    }
  }

  & .MuiBottomNavigation-root {
    justify-content: flex-start;
    background-color: $grey-dark;
    height: 40px;
  }

  & .MuiButtonBase-root {
    flex-direction: row;
    gap: $spacing-s;
  }

  & .MuiBottomNavigationAction-label {
    color: $grey-mid;
    font-size: $font-ls !important;
    font-weight: $font-weight-medium-bold;
  }

  & .Mui-selected {
    color: $white;
  }
}
