@import '../../../styles/color';
@import '../../../styles/common';

.topic-msgs-list-item {
  & .MuiListItemText-primary {
    font-size: $font-ls;
  }

  & .MuiListItemText-secondary {
    font-size: $font-ml;
  }

  &__message {
    margin-right: $topic-message-r-space;
    min-width: $topic-message-min-width !important;

    & .MuiListItemText-primary {
      color: $main-blue;
      font-weight: $font-weight-bold;
    }

    & .MuiListItemText-secondary {
      color: $grey-dark;
      font-weight: $font-weight-bold;
    }
  }

  &__actions-container {
    min-width: $topic-actions-width;
  }

  &__actions-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
