@import '../../styles/color';
@import '../../styles/common';

.registration-page {
  height: 100vh;
  background-color: $grey;
  display: flex;
  align-items: center;
  overflow: auto;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    padding: $spacing-xxl;
  }
}
