@import '../../styles/color';
@import '../../styles/common';

.layout {
  position: fixed;
  inset: 0;

  &__divider {
    height: 4px;
    background: var(--header-divide-color);
  }

  &__content {
    height: calc(100% - 132px);
    padding: $spacing-ls $spacing-xl;
    overflow: auto;
  }
}
