@import '../../../styles/color';
@import '../../../styles/common';

.coder-dialog {
  &__paper {
    border-radius: 0 !important;
    padding: $spacing-xl;

    background-color: var(--background-color-secondary) !important;

    &::before {
      content: '';
      height: $spacing-m;
      background-color: var(--header-divide-color);
      margin: $spacing-xl * -1 $spacing-xl * -1 $spacing-m;
    }
  }

  &__title {
    color: $main-blue;
    text-transform: uppercase;
    font-weight: $font-weight-medium-bold !important;
    text-align: center;
  }

  &__body {
    padding: $spacing-ml $spacing-s !important;
  }

  &__actions {
    gap: $spacing-xl;
  }
}
