@import '../../../styles/common';

.topic-form {
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: $spacing-ml;

    &__actions {
        display: flex;
        justify-content: space-between;
        gap: $spacing-xl;

        & .button {
            min-width: 140px;
            width: 100%;
        }
    }
}
