@import '../../styles/color';

.topics-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset !important;
    height: 50px;
    background-color: var(--navmenu-background-color) !important;
  }

  &__list-title {
    display: flex;
    align-items: center;
    color: $grey-dark;
  }

  &__pagination {
    margin-left: auto;
    height: 40px;
  }
}
