.info-text-block {
  display: flex;
  gap: 2rem;
}

.info-text-block__label {
  &.MuiFormLabel-root {
    font-style: normal;
    font-weight: 400;
    color: #525252;
  }
}

.info-text-block__value {
  &.MuiFormLabel-root {
    font-style: normal;
    font-weight: 400;
    color: #000;
  }
}
