@import '../../../styles/common';
@import '../../../styles/color';

.info-text-block {
  display: flex;
  gap: 2rem;
}

.info-text-block__label {
  &.MuiFormLabel-root {
    font-weight: $font-weight;
    color: $grey-dark;
    font-size: $font-ml;
  }
}

.info-text-block__value {
  &.MuiFormLabel-root {
    font-style: normal;
    font-weight: $font-weight;
    color: $main-blue;
    font-size: $font-ml;
  }
}
