@import "../../styles/color";
@import "../../styles/common";

.error-page {
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $grey-dark;
  }

  &__code {
    color: $red-cherry;
    font-weight: $font-weight-bold;
  }

  &__description {
    color: $grey-dark;
  }
}
