@import '../../../styles/color';

.button {
  &.MuiButtonBase-root {
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
  }

  &.MuiButton-contained {
    background: $main-blue;
  }

  &.MuiButton-outlined {
    border-radius: 3px;
    border: 1px solid var(--font-color-secondary);
    background: var(--background-color-secondary);

    /** text */
    color: var(--font-color);
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
}
