.button {
  &.MuiButtonBase-root {
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
  }

  &.MuiButton-contained {
    background: #0e4980;
  }

  &.MuiButton-outlined {
    border-radius: 3px;
    border: 1px solid #e9e8e8;
    background: #fff;

    /** text */
    color: #9e9c9c;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
}
