@import '../../../styles/color';
@import '../../../styles/common';

.login-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-ms;

  &__input {
    width: 25rem;
  }

  &__link-btn {
    &.MuiButton-text {
      color: #0E4980;
      text-align: center;
      font-style: normal;
    }
  }
}
