@import '../../styles/color';
@import '../../styles/common';

.dialog-layout {
  box-shadow: 0px 8px 8px $text-shadow-color;

  &__header {
    background: var(--header-divide-color);
    height: 15px;
  }

  &__content {
    background: #76767612;
    padding: 20px 40px;
  }
}
