@import '../../../styles/color';
@import '../../../styles/common';

.page-header {
  min-height: $header-height;
  max-height: $header-height;
  padding: $spacing-none $spacing-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    gap: $spacing-s;
    font-size: $font-lm;
    font-weight: $font-weight-medium-bold;
    text-shadow: 0px 4px 4px $text-shadow-color;
  }

  &__santa {
    width: 32px;
    margin-left: -22px;
    margin-top: -13px;
  }

  &__title {
    color: $grey-dark;
  }

  &__logout {
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }
  }
}
