@import '../../../styles/color';
@import '../../../styles/common';

.leader-bord-item {
  color: $main-blue;
  background: $grey-light;
  border-radius: 3px;
  margin-bottom: $spacing-ms;
  padding: 0 10px !important;

  &:nth-child(3), &:nth-child(4), &:nth-child(5) {
    color: white;
    background: $main-blue;

    .leader-bord-item__point {
      color: $grey;
    }
    .leader-bord-item__place {
      div {
        color: white;
        background: $red-cherry;
        border-radius: 15px;
        width: 25px;
        text-align: center;
      }
    }
  }

  .leader-bord-item__place {
    text-align: left;
    width: 10%;
    > span {
      width: 25px;
      text-align: center;
    }
  }

  &__name {
    text-align: center;
    width: 30%;
  }

  &__point {
    text-align: right;
    width: 20%;
  }

  &__param {
    text-align: center;
    width: 20%;
  }
}
