@import '../../../styles/color';
@import '../../../styles/common';

img {
  width: 100%;
  border: 1px solid $grey-dark;
  height: calc(100vh - 160px);
  object-fit: cover;
  opacity: 0.2;
  border-radius: 3px;
  box-shadow: 0px 8px 8px $text-shadow-color;
}
