@import '../../../styles/color';
@import '../../../styles/common';

.user-edit-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-ms;

  &__input {
    width: 100%;
    input {
      text-align: left;
    }
  }
}
