.input {
  border-radius: 3px;
  background: #F8F1FF;

  span {
    color: rgba(64, 58, 75, 0.60);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  label {
    color: rgba(64, 58, 75, 0.60);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  input {
    color: #403A4B;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
