@import '../../../styles/color';
@import '../../../styles/common';

.input {
  width: 100%;
  border-radius: 3px;
  background: $input-bg-color;

  span {
    color: $input-lbl-color;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
  }

  label {
    color: $input-lbl-color;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
  }

  input {
    color: $input-color;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
  }
}
