@import '../../../styles/color';
@import '../../../styles/common';

.input {
  border-radius: 3px !important;
  background: $white;
  margin-bottom: $spacing-m !important;
  .MuiFormHelperText-root {
    color: $red-cherry;
    line-height: $spacing-ms;
    margin-left: 0;
    margin-right: 0;
  }

  .MuiFilledInput-root {
    border-radius: 3px;
    border: 0px;
  }
  .MuiFilledInput-root:before {
    content: none;
    border-bottom-style: none;
  }

  span {

    color: $input-lbl-color;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
  }

  label {
    color: $grey-dark;
    font-weight: $font-weight;
    line-height: normal;
  }

  &.requiredField {
    label {
      &:before {
        content: '* ';
        color: $red-cherry;
      }
    }
  }

  input {
    color: $grey-dark;
    text-align: left;
    font-weight: $font-weight;
    font-size: $font-ml;
  }
}


