@import '../../../styles/color';
@import '../../../styles/common';

.regstration-form {
  display: flex;
  flex-direction: column;

  &__input {
    width: 25em;
  }

  button {
    margin-top: $spacing-ml;
  }
}
