@import '../../../../styles/common';
@import '../../../../styles/color';

.end-game-dialog {
  position: relative;

  &__content-icon {
    position: absolute;
    top: $spacing-s;
    right: $spacing-xxl;
  }

  &__content-field {
    margin-bottom: $spacing-ms;
    label {
      line-height: $spacing-ml;
    }
  }

  &__content__buttons-block {
    display: flex;
    gap: $spacing-ml;
    justify-content: space-between;

    button {
      margin-top: $spacing-ml;

      &.cancel {
        background-color: $white;
        color: $grey-dark;
      }
    }

    .MuiTypography-root {
      color: var(--font-color);
      font-weight: $font-weight;
      font-size: $font-ml;
    }
  }

  &.error {
    h2 {
      color: var(--header-divide-color) !important;
    }

    .end-game-dialog__content-icon {
      right: $spacing-m;
      top: $spacing-ml;
    }
  }
}
