@import '../../../../styles/common';
@import '../../../../styles/color';

.end-game-dialog {
    position: relative;

    &.error {
        h2 {
            color: $red-cherry !important;
        }
        .end-game-dialog__content__icon {
            right: $spacing-m;
            top: $spacing-ml;
        }
    }

   &__content__icon {
        position: absolute;
        top: $spacing-s;
        right: $spacing-xxl;
    }

    &__content__field {
        margin-bottom: $spacing-ms;
    }

    &__content__title {
        margin-bottom: $spacing-xxl;
    }

    &__content__buttons-block {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    button{
        margin-top: $spacing-ml;
        &.cancel {
            background-color: $white;
            color: $grey-dark;
        }
    }

    .MuiTypography-root {
        color: $grey-dark;
        font-weight: $font-weight;
        font-size: $font-ml;
    }

}
