$font-weight-light: 300;
$font-weight: 400;
$font-weight-medium-bold: 500;
$font-weight-bold: 600;

$font: 'Roboto';
$font-xxs: 8px;
$font-xs: 9px;
$font-s: 10px;
$font-ms: 11px;
$font-m: 12px;
$font-ml: 14px;
$font-ls: 16px;
$font-lm: 18px;
$font-xl: 20px;
$font-xxl: 24px;

$spacing-unit: 8px;
$spacing-xs: $spacing-unit * 0.5; //4
$spacing-s: $spacing-unit * 1; //8
$spacing-ms: $spacing-unit * 1.5; //12
$spacing-m: $spacing-unit * 2; //16
$spacing-ml: $spacing-unit * 2.5; //20
$spacing-ls: $spacing-unit * 3; //24
$spacing-lm: $spacing-unit * 3.5; //28
$spacing-xl: $spacing-unit * 4; //32
$spacing-xxs: $spacing-unit * 4.25; //34
$spacing-xxl: $spacing-unit * 5; //40
$spacing-auto: auto;
$spacing-none: 0;

$topic-message-r-space: 80px;
$topic-message-min-width: 80px;
$topic-actions-width: 80px;
$topic-theme-min-width: 400px;
$topic-counters-min-width: 165px;
$topic-creator-min-width: 200px;
$header-height: 48px;
