@import '../../../styles/color';
@import '../../../styles/common';

.title {
  &.MuiTypography-root {
    color: $main-blue;
    font-style: normal;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $font-ml;
  }
}
